In [5]:
import pandas as pd
import pytz

In [9]:
df = pd.read_csv("BTCUSDT-1m-2024-04-21.csv")
df['datetime_utc'] = pd.to_datetime(df['close_time'], unit='ms', utc=True)
df

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore,datetime_utc
0,1713657600000,64897.2,64929.9,64843.6,64843.6,216.414,1713657659999,1.404320e+07,2842,105.262,6.831173e+06,0,2024-04-21 00:00:59.999000+00:00
1,1713657660000,64843.6,64843.7,64770.0,64804.9,364.859,1713657719999,2.364268e+07,3936,131.856,8.544042e+06,0,2024-04-21 00:01:59.999000+00:00
2,1713657720000,64804.9,64804.9,64722.3,64726.3,299.555,1713657779999,1.939549e+07,3879,88.909,5.756195e+06,0,2024-04-21 00:02:59.999000+00:00
3,1713657780000,64726.3,64749.7,64707.5,64717.5,136.449,1713657839999,8.831376e+06,2015,61.018,3.949238e+06,0,2024-04-21 00:03:59.999000+00:00
4,1713657840000,64717.6,64850.0,64717.6,64822.7,222.083,1713657899999,1.439158e+07,3131,116.953,7.576726e+06,0,2024-04-21 00:04:59.999000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1713743700000,64878.0,64929.0,64878.0,64915.9,37.824,1713743759999,2.455097e+06,1009,26.803,1.739727e+06,0,2024-04-21 23:55:59.999000+00:00
1436,1713743760000,64915.8,64927.4,64882.9,64882.9,42.342,1713743819999,2.748349e+06,881,6.199,4.023661e+05,0,2024-04-21 23:56:59.999000+00:00
1437,1713743820000,64882.9,64904.7,64871.3,64880.5,64.942,1713743879999,4.213993e+06,1302,29.435,1.909920e+06,0,2024-04-21 23:57:59.999000+00:00
1438,1713743880000,64880.4,64894.2,64875.0,64894.2,32.491,1713743939999,2.108085e+06,728,15.235,9.884721e+05,0,2024-04-21 23:58:59.999000+00:00
1439,1713743940000,64894.2,64912.7,64894.0,64912.6,23.410,1713743999999,1.519401e+06,591,10.826,7.026282e+05,0,2024-04-21 23:59:59.999000+00:00

In [22]:
df['cummax'] = df['close'].cummax()
df['drawdown'] = df['close'] / df['cummax'] - 1
df['return'] = (df['close'] / df['close'].shift() - 1).round(4)
df.head()

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore,datetime_utc,return,annual_return,annual_risk,cummax,drawdown
0,1713657600000,64897.2,64929.9,64843.6,64843.6,216.414,1713657659999,1.404320e+07,2842,105.262,6.831173e+06,0,2024-04-21 00:00:59.999000+00:00,NaN,1.534065,0.431093,64843.6,0.000000
1,1713657660000,64843.6,64843.7,64770.0,64804.9,364.859,1713657719999,2.364268e+07,3936,131.856,8.544042e+06,0,2024-04-21 00:01:59.999000+00:00,-0.0006,1.534065,0.431093,64843.6,-0.000597
2,1713657720000,64804.9,64804.9,64722.3,64726.3,299.555,1713657779999,1.939549e+07,3879,88.909,5.756195e+06,0,2024-04-21 00:02:59.999000+00:00,-0.0012,1.534065,0.431093,64843.6,-0.001809
3,1713657780000,64726.3,64749.7,64707.5,64717.5,136.449,1713657839999,8.831376e+06,2015,61.018,3.949238e+06,0,2024-04-21 00:03:59.999000+00:00,-0.0001,1.534065,0.431093,64843.6,-0.001945
4,1713657840000,64717.6,64850.0,64717.6,64822.7,222.083,1713657899999,1.439158e+07,3131,116.953,7.576726e+06,0,2024-04-21 00:04:59.999000+00:00,0.0016,1.534065,0.431093,64843.6,-0.000322

In [29]:
annual_return = (df['return'] * (60 * 24 * 365)).mean()
annual_risk = (df['return'] * (60 * 24 * 365)**0.5).std()
max_dd = -df['drawdown'].min()
max_dd
calmar = annual_return / max_dd
calmar

72.09195388335431

In [38]:
pd.DataFrame({
    'Strategy': 'test',
    'Annualized Return': annual_return,
    'Annualized Risk': annual_risk,
    'Maximum Drawdown': max_dd,
    'Sharpe Ratio': annual_return / annual_risk,
    'Calmar Ratio': annual_return / max_dd
}, index=[0])

,Strategy,Annualized Return,Annualized Risk,Maximum Drawdown,Sharpe Ratio,Calmar Ratio
0,test,1.534065,0.431093,0.021279,3.558545,72.091954

In [40]:
'{:.2%}'.format(1.54)

'154.00%'